.introduction h1 {
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  animation: changeColor 5s ease-in-out  infinite;
}

.introduction h1 span {
  display: block;
  color: #000;
  background-image: none;
  -webkit-text-fill-color: currentColor;
}

@keyframes changeColor {
  0% {
    background-image: linear-gradient(
      108deg,
      #ea876c90 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
  }
  25% {
    background-image: linear-gradient(
      108deg,
      #6ccdea 8%,
      #ff5eef 40%,
      #c3ff4b 91%
    );
  }
  50% {
    background-image: linear-gradient(
      108deg,
      #b16cea 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
    -webkit-transform: rotate(30deg);
         transform: rotateY(30deg);
  }
  75% {
    background-image: linear-gradient(
      108deg,
      #90ea6ca9 8%,
      #ff5e69 40%,
      #4b96ff 91%
    );
  }
  100% {
    background-image: linear-gradient(
      108deg,
      #bb0096 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
  }
}
