.introduction h1 {
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  animation: changeColor 5s ease-in-out infinite;
}

.introduction h1 span {
  display: block;
  color: #000;
  background-image: none;
  -webkit-text-fill-color: currentColor;
}
.introduction h4 {
  color: #4b5563;
  font-size: 15px;
}

.introduction .container-actions {
  justify-content: space-evenly;
  align-items: center;
}

.introduction .container-actions .container-buttons {
  position: relative;
  overflow: visible;
  max-width: 100%;
  display: inline-block;
}

.introduction .container-actions .container-buttons button {
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.introduction .container-actions .container-buttons button:first-child {
  position: relative;
  z-index: 1;
  background-color: #000;
}
.introduction .container-actions .container-buttons button:last-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ffa84b 91%
  );
  transform: translate(6px, 6px);
}

.introduction .container-actions .btn-start-create a{
  font-size: 18px;
  color:#000;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width:768px) {
  .introduction .container-actions{
    justify-content: space-between;
  }
  .introduction .container-actions .btn-start-create a{
    font-size: 15px;
  }
}
































@keyframes changeColor {
  0% {
    background-image: linear-gradient(
      108deg,
      #ea876c90 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
  }
  25% {
    background-image: linear-gradient(
      108deg,
      #6ccdea 8%,
      #ff5eef 40%,
      #c3ff4b 91%
    );
  }
  50% {
    background-image: linear-gradient(
      108deg,
      #b16cea 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
    -webkit-transform: rotate(30deg);
    transform: rotateY(30deg);
  }
  75% {
    background-image: linear-gradient(
      108deg,
      #90ea6ca9 8%,
      #ff5e69 40%,
      #4b96ff 91%
    );
    transform: translate(-10px);
  }
  100% {
    background-image: linear-gradient(
      108deg,
      #bb0096 8%,
      #ff5e69 40%,
      #ffa84b 91%
    );
  }
}
